.btn-primary{
    background: var(--primaryColor) !important;
    border-color: var(--primaryColor) !important;
}
.btn-danger{
    background: var(--dangerBG) !important;
    border-color: var(--dangerBG) !important;
}
.btn-success{
    background: var(--successBG) !important;
    border-color: var(--successBG) !important;
}
.btn_close_modal {
    background: var(--dangerBG) !important;
    border-radius: var(--roundedLG);
    border: none;
    padding: var(--spaceSM) var(--spaceXMD);
    color: var(--whiteColor) !important;
}
.btn-add {
    background: var(--primaryColor) !important;
    height: 60px;
    width: 60px;
    color: var(--whiteColor) !important;
    padding: var(--spaceXMD) var(--spaceMD) !important;
    border-radius: 100% !important;
    position: fixed;
    right: var(--spaceJumbo);
    bottom: var(--spaceJumbo);
    -webkit-transition: all 0.3s !important;
    -o-transition: all 0.3s !important;
    transition: all 0.3s !important; 
}
.btn-add:hover {
    transform: scale(1.2);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn.btn-tag {
    background: var(--whiteColor);
    border-radius: var(--roundedLG);
    color: var(--blackColor);
    margin-right: var(--spaceSM);
    margin-bottom: var(--spaceSM);
    border: 1.75px solid var(--primaryColor);
}
.btn.btn-tag:hover {
    background: var(--primaryColor);
    color: var(--whiteColor);
}
.cell-click {
    cursor: pointer;
    color: var(--blackColor);
    width: 100% !important;
    -webkit-transition: all 0.3s !important;
    -o-transition: all 0.3s !important;
    transition: all 0.3s !important; 
    border: 0;
    background: var(--whiteColor);
    padding: var(--spaceSM);
}
.cell-click:hover {
    background: var(--primaryColor);
    color: var(--whiteColor);
}
.table-click tbody tr td {
    padding: 0 !important;
}
.btn-tag-removed {
    background: var(--primaryColor) !important;
    border-radius: var(--roundedLG) !important;
    color: var(--whiteColor) !important;
    -webkit-transition: all 0.3s !important;
    -o-transition: all 0.3s !important;
    transition: all 0.3s !important; 
    margin-right: var(--spaceSM);
    margin-bottom: var(--spaceSM);
}
.btn-tag-removed:hover {
    background: var(--dangerBG) !important;
}
.btn-page {
    background: var(--whiteColor) !important;
    color: var(--primaryColor) !important;
    margin-right: var(--spaceXXSM);
    font-size: var(--textMD) !important;
    border: 1.5px solid var(--primaryColor) !important;
}
.btn-page.active {
    background: var(--primaryColor) !important;
    color: var(--whiteColor) !important;
    margin-right: var(--spaceXXSM);
    font-size: var(--textMD) !important;
}

.btn.container, .btn.add.container, .btn-main {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; 
}
.btn.container:hover {
    transform: scale(1.05);
}
.btn.add.container {
    border: calc(var(--spaceMini)*0.75) dashed var(--primaryColor) !important;
    box-shadow: none !important;
}
.btn.add.container:hover {
    border: calc(var(--spaceMini)*0.75) solid var(--primaryColor) !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}

.btn-main {
    padding: 0;
    position: relative;
    justify-content: start;
    color: var(--whiteColor);
    background-image: linear-gradient(to right, var(--primaryColor) , var(--primaryLightBG));
    cursor: pointer;
    border-radius: var(--roundedLG);
    width: 100%;
    border: none;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}
.btn-main:hover {
    transform: scale(1.015);
}