.btn-primary{
    background: var(--primaryColor) !important;
    border-color: var(--primaryColor) !important;
}
.btn-danger{
    background: var(--dangerBG) !important;
    border-color: var(--dangerBG) !important;
}
.btn-success{
    background: var(--successBG) !important;
    border-color: var(--successBG) !important;
}
.btn_close_modal {
    background: var(--dangerBG) !important;
    border-radius: var(--roundedLG);
    border: none;
    padding: var(--spaceSM) var(--spaceXMD);
    color: var(--whiteColor) !important;
}