:root {   
    /* Typography */
    --textHuge : 78px;
    --textXJumbo : 48px;
    --textJumbo : 26px;
    --textXLG : 18px;
    --textLG : 16px;
    --textXMD : 14px;
    --textMD : 13px;
    --textSM : 12px;
    --textXSM : 11px;
  
    /* Rounded */
    --roundedCircle : 100%;
    --roundedJumbo : 34px;
    --roundedXLG : 20px;
    --roundedLG : 18px;
    --roundedMD : 14px;
    --roundedSM : 10px;
    --roundedMini : 6px;
  
    /* Spacing */
    --spaceJumbo : 35px;
    --spaceXLG : 24px;
    --spaceLG : 20px;
    --spaceXMD : 16px;
    --spaceMD : 12px;
    --spaceSM : 10px;
    --spaceXSM : 8px;
    --spaceXXSM : 6px;
    --spaceMini : 4px;
  
    /* Table column min width */
    --tcolMinXSM : 60px;
    --tcolMinSM : 120px;
    --tcolMinMD : 140px;
    --tcolMinLG : 180px;
    --tcolMinJumbo : 240px;
    --tcolMinHuge : 360px;
  
    /* Color Pallete */
    --primaryLightBG : #3366FF;
    --successBG : #2EC193;
    --successDarkBG : #009B56;
    --warningBG : #F48C0D;
    --dangerBG : #F87469;
    --infoBG : #2e80d9;
    --infoLightBG : #E7F4FE;
    --hoverBG : #F2F2F2;
  
    --primaryColor : #00A7EA;
    --blackColor : #414141;
    --darkColor : #5B5B5B;
    --whiteColor : #FFFFFF;
}

/* All Pages */
body {
    font-family: "Poppins", Arial, sans-serif;
    font-size: var(--textMD);
    line-height: 1.8;
    font-weight: normal;
    background: var(--whiteColor);
    color: gray; 
}
#content {
    height: 100vh;
    width: 100%;
    overflow: auto;
    padding: 0;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; 
}
#content-body {
    margin-top: calc(var(--spaceJumbo) + var(--spaceLG));
}

/* Image */
.img-icon-lg {
    height: 80px;
    width: 80px;
}
.img-icon-md {
    height: 40px;
    width: 40px;
}

/* Background */
.bg-success-light {
    background: var(--successBG) !important;
    opacity: 0.9;
}
.bgd-success {
    background: var(--successBG);
}
.bgd-danger {
    background: var(--dangerBG);
}
.bgd-primary {
    background: var(--primaryColor);
}
.bgd-secondary {
    background: #b8b8b8;
}
.fade {
    pointer-events: none;
    background: linear-gradient(90deg, #1e293b, transparent 30%, transparent 70%, #1e293b);
    position: absolute;
    inset: 0;
}

.bar-inner{
    background: var(--primaryColor) !important;
}
  
.loop-slider .inner {
    display: flex;
    width: fit-content;
    animation-name: loop;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: var(--direction);
    animation-duration: var(--duration);
}
  
@keyframes loop {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
