table {
    border: 2px solid var(--darkColor) !important;
    text-align: center;
}
th, td {
    vertical-align: middle !important;
}
table th {
    background: var(--primaryColor) !important;
    color: var(--whiteColor) !important;
}
.tr-form input, .tr-form select{
    border-radius: 0;
    padding: 0;
}

/* Button */
.cell-click {
    cursor: pointer;
    color: var(--blackColor);
    width: 100% !important;
    -webkit-transition: all 0.3s !important;
    -o-transition: all 0.3s !important;
    transition: all 0.3s !important; 
    border: 0;
    background: var(--whiteColor);
    padding: var(--spaceSM);
}
.cell-click:hover {
    background: var(--primaryColor);
    color: var(--whiteColor);
}
.table-click tbody tr td {
    padding: 0 !important;
}