.navbar {
    padding: var(--spaceXMD) var(--spaceSM);
    background: var(--whiteColor);
    border: none;
    border-radius: 0;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); 
    height: 100vh;
    align-items: start !important;
}
.navbar-btn {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none !important;
    border: none; 
}
.wrapper {
    width: 100%; 
}
#sidebar {
    min-width: 300px;
    max-width: 300px;
    background: linear-gradient(var(--primaryColor), var(--primaryLightBG));
    color: var(--whiteColor);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; 
    padding-inline: var(--spaceMD);
}
#sidebar.active {
    margin-left: -300px; 
}
#sidebar .logo span {
    display: block; 
}
#sidebar ul.components {
    padding: 0; 
}
#sidebar ul li {
    font-size: var(--textLG);
    padding: var(--spaceMini);
    border-radius: var(--roundedSM);
    margin-bottom: var(--spaceSM);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; 
}
#sidebar ul li > ul {
    margin-left: var(--spaceSM); 
}
#sidebar ul li > ul li {
    font-size: var(--spaceMD); 
}
#sidebar ul li a {
    padding: var(--spaceSM);
    display: block;
    color: var(--whiteColor);
}
#sidebar ul li a .fa-stack:hover, #sidebar ul li.list-inline-item a#contact:hover {
    color:var(--blackColor);
}
#sidebar ul li:hover {
    border: var(--spaceMini) solid var(--whiteColor);
    border-radius: var(--roundedMini);
    color: var(--whiteColor);
}
#sidebar ul li:hover > a{
    background: var(--infoBG);
    border-radius: 6px;
    color: var(--whiteColor);
}
#sidebar ul li.active > a {
    color:var(--whiteColor);
}
#sidebar ul li.active {
    background: var(--infoBG);
    border-radius: 6px;
    border: var(--spaceMini) solid var(--whiteColor);
}
#contact:hover{
    background-color:rgba(255, 255, 255, 0.3) !important;
    opacity: 50%;
}
@media (max-width: 991.98px) {
    #sidebar {
        margin-left: -300px; 
    }
    #sidebar.active {
        margin-left: 0; 
    } 
}
@media (max-width: 991.98px) {
    #sidebarCollapse span {
        display: none; 
    } 
}