.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); 
    height: 100vh;
}
.navbar-btn {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none !important;
    border: none; 
}
.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0; 
}
.wrapper {
    width: 100%; 
}
#sidebar {
    min-width: 300px;
    max-width: 300px;
    background: #22A7F0;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; 
}
#sidebar.active {
    margin-left: -300px; 
}
#sidebar .logo {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto; 
}
#sidebar .logo span {
    display: block; 
}
#sidebar ul.components {
    padding: 0; 
}
#sidebar ul li {
    font-size: 16px;
    padding:4px;
}
#sidebar ul li > ul {
    margin-left: 10px; 
}
#sidebar ul li > ul li {
    font-size: 14px; 
}
#sidebar ul li a {
    padding: 10px;
    display: block;
    color:#3A4856;
}
#sidebar ul li a .fa-stack:hover, #sidebar ul li.list-inline-item a#contact:hover {
    color:#212121;
}
#sidebar ul li:hover {
    background: #4183D7;
    border-radius: 6px;
    color: whitesmoke;
}
#sidebar ul li:hover > a{
    background: #4183D7;
    border-radius: 6px;
    color: whitesmoke;
}
#sidebar ul li.active > a {
    background: transparent;
    color:white;
    border-left: 4px solid white;
}
#contact:hover{
    background-color:rgba(255, 255, 255, 0.3) !important;
    opacity: 50%;
}
@media (max-width: 991.98px) {
    #sidebar {
        margin-left: -300px; 
    }
    #sidebar.active {
        margin-left: 0; 
    } 
}
a[data-toggle="collapse"] {
    position: relative; 
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); 
}
@media (max-width: 991.98px) {
    #sidebarCollapse span {
        display: none; 
    } 
}